.profile__avatar {
    height: 100%;
    margin: 0;
    border-radius: inherit;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    transition: opacity 0.5s ease-in-out;
}

.profile__avatar:hover {
    cursor: pointer;
    opacity: 0.2;
}

@media screen and (max-width: 880px) {
    .profile__avatar {
        margin-bottom: 26px;
    }
}