.sign-form__link-markup {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.2;
    color: #FFFFFF;
    text-align: center;
    transition: opacity .3s ease
}